.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    background-color: #282c34;
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #20232a;
}